# Dependencies
node_modules/

# Build directory
dist/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log

# Jest coverage
coverage/

# IDE files
.idea/
.vscode/
*.swp
*.swo 